* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(122, 7, 7, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(162, 164, 167);
  border-radius: 20px;
  border: 1px solid rgba(209, 211, 223, 0);
}
body {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(
    circle at center,
    rgb(107, 93, 128), 
    rgb(73, 70, 104), 
    rgb(56, 52, 90),
    rgb(29, 31, 56)
  );
	font-family: 'Roboto', sans-serif;
}
h1 {
	color: rgb(67, 81, 92);
	margin: 15px 0 15px 18px;
}
.settings-container {
	border-radius: 10px;
	margin-top: 0;
	width: 320px;
	height: 600px;
	background: rgb(232, 233, 235);
	position: relative;
	overflow: auto;
	scroll-behavior: smooth;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.37);
}
.header-and-input {
	position: relative;
}
input {
	width: 90%;
	margin: 20px auto;
	display: block;
	border-radius: 5px;
	border: none;
	background: rgba(255, 255, 255, 0.521);
	padding: 5px 35px;
	transition: .4s;
	outline: none;
	font-size: 15px;
}
input:focus {
	background: white;
}
.search-icon {
	position: absolute;
	left: 20px;
	top: 63px;
	opacity: 0.6;
	transition: .4s;
}
.mic-icon {
	position: absolute;
	top: 63px;
	right: 25px;
	opacity: .6;
	transition: .4s;
}
.bar {
	padding: 0 0 5px 5px;
	background: white;
	border-top: 1px solid rgb(216, 216, 216);
	border-bottom: 1px solid rgb(216, 216, 216);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
}
.user-info {
	font-size: 9px;
	color: rgb(122, 122, 122);
	margin-bottom: 25px;
	padding-top: 5px;
}
.user-text {
	margin-left: 10px;
	margin-right: auto;
}
.name {
	font-size: 14px;
}
.user-image {
	margin: auto 0px auto 10px;
}
.arrow {
	margin-right: 10px;
	pointer-events: none;
	transition: .4s;
}



/* BAR STYLES */
.bar-one, .bar-two, .bar-three {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-bottom: 2px;
	margin-bottom: 50px;
}
.bar-item, .bar-info {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .4s;
}
.bar-item:hover .arrow {
	padding-right: 10px;
}
.bar-icon {
	margin-right: 10px;
	pointer-events: none;
}
.bar-info {
	border-bottom: 1px solid rgb(212, 212, 212);
	padding: 8px;
}
.bar-name {
	margin: 0;
	margin-right: auto;
	color: gray;
	transition: .4s;
	pointer-events: none;
}
.wifi {
	margin-left: auto;
	margin-right: 15px;
	color: gray;
	font-size: 13px;
}

.last {
	border: none;
}


/* DISPLAY OVERLAY */
.display-overlay {
	height: 1200px;
	width: 0%;
	position: absolute;
	top: 0;
	right: 0;
	background: rgb(232, 233, 235);
	z-index: 5;
	transition: .4s;
	overflow: auto;
}
.back {
	transform: rotate(180deg);
	margin-left: 10px;
}
.display-overlay h2 {
	color: rgb(70, 76, 88);
	font-size: 17px;
	margin-left: 15px;
}
header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: white;
	padding: 20px 5px;
	border-bottom: 1px solid rgb(192, 192, 192);
	cursor: pointer;
}
.back-to-settings {
	color: rgb(56, 89, 236);
	font-size: 13px;
}
.appearance {
	color: gray;
	margin-top: 25px;
	margin-left: 10px;
}
.appearance-settings {
	height: 200px;
	border-top: 1px solid rgb(192, 192, 192);
	
	background: white;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.iphone {
	height: 90%;
	width: 25%;
	background: white;
	border: 2px solid rgb(113, 115, 121);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: .4s;
	cursor: pointer;
	padding: 20px 0;
}
.iphone p {
	pointer-events: none;
}
.notif {
	pointer-events: none;
	width: 90%;
	height: 20%;
	background: rgba(164, 183, 194, 0.315);
	border-radius: 5px;
}
.iphone:hover {
	border: 2px solid rgb(76, 158, 226);
}
.iphone-light {
	color: rgba(85, 90, 94, 0.753);
	background: linear-gradient(white, rgba(194, 210, 219, 0.658), white 99%);
}
.iphone-dark {
	color: rgb(177, 177, 177);
	background: linear-gradient(rgb(29, 34, 46), rgb(51, 71, 94));
}
.active {
	border: 2px solid rgb(76, 158, 226);
	pointer-events: none;
}





/* dark styles */
.dark-theme-item-styles {
	/* background: rgb(0, 0, 0); */
	background: rgb(34, 37, 43);
	border-color: black;
	color: rgb(218, 214, 214);
}
.dark-theme-bg { 
	background: rgb(23, 26, 36);
}
.dark-theme-border {
	border-color: black!important;
}
.dark-theme-text {
	color: rgb(218, 214, 214)!important;
}
.dark-theme-input {
	background: rgb(233, 233, 233);
}



/* alert banner */
.alert-banner {
	position: absolute;
	top: -200px;
	right: 200px;
	background: indianred;
	color: white;
	padding: 15px;
	border-radius: 5px;
	transition: .7s;
}
.show-alert {
	top: 20px;
}